<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Погнали!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<div class="modal-body">
    <h5 th:text="'Привет, ' + ${name} + '!'"></h5>
    <p>Нажми <a th:href="@{/counter}" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">сюда</a> для того, чтобы посчитать клики вместе со мной.</p>
    <hr>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
